@import url(./reset.css);
@import url(./common_mb.css);

@keyframes moving-up{
	0% { margin-top: 60px; }
	100% { margin-top: 15px; }
}
@keyframes moving-down{
	0% { top: -50px; }
	100% { top: 0px; }
}

@keyframes blink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

.animated.move-up{
	animation: moving-up 2s 1 forwards;
	-webkit-animation: moving-up 2s 1 forwards;
}
.animated.move-down{
	animation: moving-down 2s 1 forwards;
	-webkit-animation: moving-down 2s 1 forwards;
}

.page {
	.video {
		position: relative;
		.video-icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 160px;
			height: 160px;
			line-height: 180px;
			margin-left: -80px;
			margin-top: -80px;
			text-align: center;
			.icon{
				width: 33px;
				height: 33px;
				display: inline-block;
				background: url(https://img.alicdn.com/tps/TB1SvTGOFXXXXXxapXXXXXXXXXX-100-100.png);
				background-size: contain;
			}
		}
		.video-loading {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			margin-left: -8px;
			margin-top: -8px;
			background: url(https://gw.alicdn.com/tps/TB19knkOVXXXXbIapXXXXXXXXXX-16-16.gif);
			background-size: contain;
		}
		img {
			width: 100%;
		}
		video {
			width: 100%;
			display: none;
		}
	}
	.title {
		text-align: center;
		font-size: 22px;
		color: #333333;
		line-height: 24px;
		/* .logo, .icon {
			img {
				margin-top: 0;
			}
		} */
		.logo {
			display: inline-block;
			// margin-right: 10px;
			font-size: 0;
			img {
				margin-top: 0;
				width: 20px;
			}
		}
	}
	.sub-title {
		text-align: center;
		font-size: 14px;
		color: rgba(51, 51, 51, 0.5);
		line-height: 22px;
		padding: 0 20px;
		margin-top: 8px;
		margin-bottom: 6px;
	}
	.header {
		position: relative;
		text-align: center;
		// padding-top: 54px;
		.content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			img {
				margin-top: 20px;
			}
		}
		a {
			text-align: center;
			font-size: 14px;
			color: #0088FE;
			line-height: 12px;
			text-decoration: none;
			// margin-bottom: 20px;
		}
		.title {
			vertical-align: middle;
			.logo {
				// display: inline-block;
				// margin-right: 10px;
				// img {
					margin-top: 0;
					width: 25px;
					vertical-align: middle;
					margin-bottom: 1px;
				// }
			}
			span {
				vertical-align: middle;
			}
		}
		
		img {
			width: 100%;
		}
	}

	.sections {
		.title {

		}
		.section {
			padding: 70px 0;
			img {
				margin-top: 40px;
				width: 100%;
			}
		}
		.section:nth-child(2) {
			background: #F4F4F4;
			padding-left: 5px;
			padding-right: 5px;
			ul {
				text-align: center;
				li {
					text-align: center;
					display: inline-block;
					width: 30%;
					margin-right: 3%;
					vertical-align: top;
					img {
						width: auto;
						height: 15px;
						margin-top: 0;
					}
					.title {
						font-size: 16px;
						color: #333333;
						line-height: 16px;
					}
					.sub-title {
						font-size: 12px;
						color: #999999;
						line-height: 16px;
						padding: 0 10px;
					}
				}
				li:nth-child(3n) {
					margin-right: 0;
				}

			}
			img {
				margin-top: 27px;
				box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.15);
			}
			.tabs {
				margin-top: 44px;
				ul {
					font-size: 0;
					li:last-child {
						border-right: 1px solid #CECECE;
					}
					li {
						display: inline-block;
						width: 20%;
						box-sizing: border-box;
						padding: 16px 0px;
						border: 1px solid #CECECE;
						color: #666666;
						font-size: 12px;
						margin: 0;
						border-right: 1px solid rgba(0, 0, 0, 0);
					}
					/* li.active {
						border: 1px solid #1B1D26;
					} */
					li.active:last-child {
						border-right: 1px solid #000;
					}
					.active {
						border-color: #1B1D26;
						border-right: 1px solid #1B1D26;
					}

				}
				.tab-content{
					width: 90%;
					margin: 0 auto;
				}
			}
		}
		.section:nth-child(3).content {
			background: #fff;
			padding: 60px 16px;
			ul {
				font-size: 0;
				vertical-align: bottom;
				li {
					display: inline-block;
					text-align: center;
					width: 49%;
					vertical-align: bottom;
					padding-top: 18px;
					span {
						display: block;
						text-align: center;
					}
					.icon {
						// margin-top: 16px;
						text-align: center;
						img {
							width: 40px;
							margin-top: 0;
						}
					}
					span.title {
						margin-top: 12px;
						font-size: 16px;
						color: #333333;
						line-height: 12px;
					}
					.sub-title {
						margin-top: 9px;
						font-size: 12px;
						color: #999999;
						line-height: 16px;
						margin-bottom: 20px;
						padding: 0px;
						min-height: 32px;
					}
				}
				li:nth-child(1) {
					margin-top: 0;
					border: 1px solid #f8f7f7;
					border-left: none;
					border-top: none;
				}
				li:nth-child(2) {
					margin-top: 0;
					border-bottom: 1px solid #f8f7f7;
				}
				li:nth-child(3) {
					border-right: 1px solid #f8f7f7;
				}
			}
		}

		.section:nth-child(4) {
			text-align: center;
			background: #F4F4F4;
			padding-left: 28px;
			padding-right: 18px;
			.title{
				margin-left: -10px;
			}
			.time-line:before {
				position: absolute;
			    left: 0;
			    top: 0;
			    content: ' ';
			    display: block;
			    width: 1px;
			    height: 100%;
			    margin-left: 58px;
			    background: #B5B6B9;
			}

			ul {
				position: relative;
				margin-top: 25px;
				wrap: nowrap;
				li {
					text-align: left;
					font-size: 12px;
					color: #333333;
					line-height: 12px;
					vertical-align: top;
					margin-bottom: 2px;
					position: relative;
					span {
						vertical-align: top;
						display: inline-block;
					}
					.time {
						color: #999999;
						font-size: 12px;
					    position: absolute;
					    line-height: 16px;
					}
					.separation {
						width: 1px;
						height: 100%;
						background: #B5B6B9;
					}

					.text {
						padding-left: 70px;
						padding-bottom: 30px;
						max-width: 75%;
						font-size: 12px;
						line-height: 16px;
					}
				}
				li:before {
					position: absolute;
				    top: 5px;
				    left: 50px;
				    content: ' ';
				    display: block;
				    width: 5px;
				    height: 5px;
				    margin-left: 6px;
				    background: #242933;
					border-radius: 50%;
				    z-index: 10;
				}
			}
			li:first-child:before{
				top: 0;
				border: 4px solid #dedede;
				margin-left: 2px;
				animation: blink 2s infinite;
			}
			li:last-child{
				min-height: 0px;
				top: 5px;
				.text {
					padding-bottom: 0px;
				}
			}
			li:last-child:before {
				top: 5px;
			}
			.btn {
				display: inline-block;
				margin: 40px auto 0;
				width: 80%;
				padding: 17px 0;
				text-align: center;
				border: 1px solid #1B1D26;
				font-size: 14px;
				color: #333;
				line-height: 12px;
			}
		}
		.section:nth-child(5) {
			text-align: center;
			padding-left: 12px;
			padding-right: 12px;
			.title {
				margin-bottom: 40px;
			}
			.sub-title {
				font-size: 12px;
				padding: 0 10px 20px;
			}
			ul {
				font-size: 0;
				vertical-align: top;
				text-align: center;
				li {
					.title {
						text-align: center;
						margin-bottom: 8px;
						margin-top: 16px;
						font-size: 14px;
						.logo {
							margin-right: 0;
						}
					}
					display: inline-block;
					position: relative;
					width: 31%;
					border: 1px solid #ccc;
					vertical-align: top;
					margin-right: 1%;
					text-align: center;
					min-height: 235px;
					img {
						width: 11px;
						margin-top: 0;
					}
				}
				li:nth-child(3) {
					margin-right: 0;
				}
			}
			.btn {
				display: inline-block;
				margin: 40px auto 0;
				width: 80%;
				padding: 17px 0;
				text-align: center;
				border: 1px solid #1B1D26;
				font-size: 14px;
				color: #333;
				line-height: 12px;
				text-decoration: none;
			}
		}
		.company-friends {
			background: #F4F4F4;
			padding: 70px 16px;
			text-align: center;
			.header {
				text-align: center;
				background: #F4F4F4;
				font-size: 22px;
				color: #333333;
				margin-bottom: 20px;
				vertical-align: middle;
				margin-top: 0;
				span {
					display: inline-block;
					vertical-align: middle;
				}
				.line {
					display: inline-block;
					background: #e4e4e4;
					height: 1px;
					width: 50px;
					margin: 0 20px;
				}
			}
			ul {
				font-size: 0;
				li {
					display: inline-block;
					width: 32%;
					margin-right: 1%;
					margin-top: 1%;
					a {
						user-select: none;
					}
					img {
						width: 100%;
					}
				}
				li:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}